$header-bg-color: #EEEEEE;
$header-txt-color:#FFFFFF;
$header-red-color: #ED1C24;
$footer-col-1: #DBDBDB;
$footer-col-2: #111111;
$main-font: 'Montserrat';
$secondary-font: 'open sans';

.char-footer{
    font-size: 25px;
    border: 3px solid #FFFFFF;
    color: $header-bg-color;
    font-family: $main-font;
    font-weight: bolder;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 2px;
}
.art-footer{
    font-size: 18px;
    color: $header-txt-color;
    font-family: $main-font;
    margin-left: 5px;
    letter-spacing: -1px;
}
.last-txt{
    color: $header-bg-color;
    font-family: $main-font;
    font-size: 14px;
    word-spacing: -1px;
    letter-spacing: -0.5px;
    word-spacing: -1px;
    letter-spacing: -0.5px;
    &:hover{
     text-decoration:  underline 3px red;
    }
}