$header-bg-color: #EEEEEE;
$header-txt-color:#FFFFFF;
$header-red-color: #ED1C24;
$footer-col-1: #DBDBDB;
$footer-col-2: #111111;
$main-font: 'Montserrat';
$secondary-font: 'open sans';

.map-txt{
    font-family: $main-font;
    color: $header-txt-color;
}
.icon-container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 44px;

    &:not(:last-child){
        border-right: 1px solid white;
    }
}
.need-txt{
    font-family: $main-font;
    margin-left: 90px;
    color: $header-txt-color;
    font-size: 14px;
}