$header-bg-color: #EEEEEE;
$header-txt-color:#FFFFFF;
$header-red-color: #ED1C24;
$footer-col-1: #DBDBDB;
$footer-col-2: #111111;
$main-font: 'Montserrat';
$secondary-font: 'open sans';

.over{
    font-family: $main-font;
    color: #222222;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.span-txt1{
    font-family: $secondary-font;
    display: flex;
    font-size: 14px;
    letter-spacing: -1px;

}
.span-txt2{
    font-family: $secondary-font;
    margin-left: 13px;
    font-size: 14px;
    letter-spacing: -1px;


}